$ cat .gitignore
#Whitelist
/*

#Folders
!/config/
!/patchouli_books
!/resources
!/scripts
!/worldshape
!/openloader
!/quests_structures
!/defaultconfigs

#Files
!/.gitignore
!/README.md
!/options.txt
!/LICENSE
!/更新说明.txt