$ cat .gitignore
#Whitelist
/*

#Folders
!/config/
!/patchouli_books
!/resources
!/scripts
!/worldshape
!/openloader
!/quests_structures
!/defaultconfigs
!/multiblocked

#Files
!/.gitignore
!/README.md
!/options.txt
!/LICENSE